/* general text formatting */

h1, h2, h3, nav, footer {
 font-family: Georgia, Cambria, "Times New Roman", serif;
}

body {
   font-family: "Lucida Sans", Verdana, Arial, sans-serif;
   font-size: 80%;
}

div#searchBox, div#listBox {
   margin: 0.25em auto;
   background-color: #EBF4FB;
   padding: 1em;
   border: 1pt solid #95BEF0;
   width: 80%;
}


div#searchBox { 
   margin-top: 1em;
   display: flex;
   align-items: center;
   flex-wrap: nowrap;
}
div#listBox { 
   margin-top: 1em; 
   background-color: #FAFCFF;
}

#dark_mode {
   margin-left: 100px;
}

#cart {
   display: flex;
   align-items: center;
   margin-left: auto;
   gap: 10px;
}


table {
   border: collapse; 
   border-spacing: 0;
}

table tbody td{
   border-top: 1pt solid #95BEF0;   
   line-height: 1.5em;
   vertical-align: middle;
   padding: 0.5em 0.75em;
}

table thead th {
   text-align: left;
   padding: 0.25em 0.75em; 
}
table thead {
   background-color: #EBF4FB ;
}

/* fix the width of different colomns */
table thead th:nth-child(1),
table tbody td:nth-child(1) {
    width: 5%;
    text-align: center;
   padding: 0.5em 0em;   
}

table thead th:nth-child(2),
table tbody td:nth-child(2) {
    width: 10%;
}

table thead th:nth-child(3),
table tbody td:nth-child(3) {
    width: 37%;
}

table thead th:nth-child(4),
table tbody td:nth-child(4) {
    width: 13%;
}

table thead th:nth-child(5),
table tbody td:nth-child(5) {
    width: 7%;
}

table thead th:nth-child(6),
table tbody td:nth-child(6) {
    width: 7%;
}

table thead th:nth-child(7),
table tbody td:nth-child(7) {
    width: 7%;
}

table thead th:nth-child(8),
table tbody td:nth-child(8) {
    width: 7%;
}

table thead th:nth-child(9),
table tbody td:nth-child(9) {
    width: 7%;
}

caption {
   background-color: #95BEF0;
      padding: 0.5em 0.5em; 
      font-weight: bold;
      font-size: 1.2em;
}
